.button{
    font-family: Tono;
    text-transform: uppercase;
    font-size:1.2rem;
    font-family: Tono;
    padding:1.5rem 9rem;
    background:linear-gradient(to right, rgb(206, 7, 7), rgb(42, 1, 80),rgb(5, 74, 211));
    border-radius: 6px;
    transition: all .3s ease-in-out;
    &:hover{
        cursor: pointer;
        filter:sepia()
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}